@import url("http://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800,900&display=swap");
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
section .box{ width: 900px;
    float:right;
    border:1px solid none;}
    
    .box ul li{
        width: 120px;
        float: left;
        margin: 10px auto;
        text-align: center;
    } 
    
    .box ul li a{ text-decoration: none;
    color:rgb(217, 240, 237);}
    
    .box ul li:hover{ background-color: none;}
    .box ul li a:hover{ color:rgb(95, 123, 148);}
section{
    position: relative;
    justify-content: center;
    align-items: center;
    min-height: 100wh;
    background: rgb(59, 55, 55)
}

section .container{
position: relative;
min-width: 1100px;
min-height: 550px;
display: flex;
z-index: 1000;
}
section .container .contactinfo{
    position:absolute;
    top: 40px;
    width: 350px;
    height: calc(100% - 80px);
    background:black;
    z-index: 1;
    padding: 40px;
    display: flex;
    justify-content: space-between;
    box-shadow: 0 20px 20px rgb(0, 0, 0, 0.2);
}
section .container .contactinfo h2{
    color: #fff;
    font-size: 24px;
    font-weight: 500;
}
section .container .contactinfo .info {
    position: relative;
    margin: 20px 0;
}
section .container .contactinfo .info li{
    position: relative;
    list-style: none;
    display: flex;
    margin: 20px 0;
    cursor: pointer;
    align-items: flex-start;
}
section .container .contactinfo .info li span:nth-child(1){
    width: 30px;
    min-width: 30px;
}
section .container .contactinfo .info li span:nth-child(1) img{
    max-width: 100%;
    filter: invert(1);
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(2){
    color: #fff;
    margin-left: 10px;
    font-weight: 300;
    opacity: 0.5;
}
section .container .contactinfo .info li span:nth-child(1) img,
section .container .contactinfo .info li span:nth-child(2){
    opacity: 1;
}

section .container  .contactForm{
    position: absolute;
    padding: 70px 50px;
    background: #fff;
    margin-left: 150px;
    padding-left: 250px;
    width: calc(100% - 150px);
    height: 100%;
    box-shadow: 0 50px 50px rgba(0, 0, 0, 0.5);
}
section .container  .contactForm h2{
color: black;
font-size: 24px;
font-weight: 500;
}
section .container  .contactForm .formBox{
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}
section .container  .contactForm .formBox .inputBox{
    position: relative;
    margin: 0 0 35px 0;
}
section .container  .contactForm .formBox .inputBox.w50{
width: 47%;
}
section .container  .contactForm .formBox .inputBox.w100{
    width: 100%;
    
}

section .container  .contactForm .formBox .inputBox input{
    width: 100%;
    padding: 5px 0;
    font-size: 18px;
    font-weight: 300;
    color: #333;
    border: none;
    border-bottom: 1px solid #777;
    outline: none;
}

section .container  .contactForm .formBox .inputBox textarea{
min-height: 120px;
}    
section .container  .contactForm .formBox .inputBox label{
    position: absolute;
    left: 0;
    top: 0;
    padding: 5px 0;
    font-size: 18px;
    color: #333;
    transition: .8s;
    pointer-events: none;
    
}
section .container  .contactForm .formBox .inputBox button:focus ~ span,
section .container  .contactForm .formBox .inputBox textarea:focus ~ span,
section .container  .contactForm .formBox .inputBox button:focus ~ span,
section .container  .contactForm .formBox .inputBox textarea:focus ~ span
{
    transform: translateY(-20px);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;
    color :green;
}
section .container  .contactForm .formBox .inputBox button[type="submit"]{
    background-color: rgb(26, 101, 214);
    color: black;
    border-radius: 10px;
    padding: 10px 35px;
    margin-left: 195px;
    border: none;
}
section .container  .contactForm .formBox .inputBox button[type="submit"]:hover{
    background-color:  rgb(245, 245, 245);
    padding: 10px 35px;
    transition: .5s;
    font-size: 13px;
    cursor: pointer;
}
button{
    background-color: rgb(26, 101, 214);
    color: black;
    border-radius: 10px;
    padding: 10px 35px;
    margin-left: 195px;
    border: none;
}

button:hover{
    background-color:  rgb(128, 154, 240);
    padding: 10px 35px;
    transition: .5s;
    font-size: 13px;
    cursor: pointer;
}



